@font-face {
	font-family: 'icomoon';
	src:url('../fonts/custom/icomoon.eot?-3ntoiu');
	src:url('../fonts/custom/icomoon.eot?#iefix-3ntoiu') format('embedded-opentype'),
		url('../fonts/custom/icomoon.woff?-3ntoiu') format('woff'),
		url('../fonts/custom/icomoon.ttf?-3ntoiu') format('truetype'),
		url('../fonts/custom/icomoon.svg?-3ntoiu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-player:before {
	content: "\e600";
}

.icon-user-circle:before {
	content: "\e601";
}

.icon-player-list:before {
	content: "\e602";
}

.icon-dashboard:before {
	content: "\e603";
}

.icon-star:before {
	content: "\e604";
}

.icon-star-outline:before {
	content: "\e605";
}

.icon-star-circle:before {
	content: "\e606";
}

.icon-star-min:before {
	content: "\e607";
}

.icon-remove:before {
	content: "\e608";
}

.icon-swap-horiz:before {
	content: "\e609";
}

.icon-swap-vert:before {
	content: "\e60a";
}

.icon-swap-vert-circle:before {
	content: "\e60b";
}

.icon-table:before {
	content: "\e60c";
}

.icon-reorder:before {
	content: "\e60d";
}

.icon-storage:before {
	content: "\e60e";
}

.icon-money:before {
	content: "\e60f";
}

.icon-store:before {
	content: "\e610";
}

.icon-stats:before {
	content: "\e611";
}

.icon-three:before {
	content: "\e612";
}

.icon-four:before {
	content: "\e613";
}

.icon-five:before {
	content: "\e614";
}

.icon-six:before {
	content: "\e615";
}

.icon-one:before {
	content: "\e616";
}

.icon-two:before {
	content: "\e617";
}

.icon-radio-btn-off:before {
	content: "\e618";
}

.icon-radio-btn-on:before {
	content: "\e619";
}

